@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

/* RELLENO */

.header,
.footer {
  min-height: 100px;
}

/* ELIMINAR ESTILOS POR DEFECTO DEL BROWSER */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
/* ESTILOS GENERALES DE LA PAGINA */

body {
  background-image: url(../Img_Event/fondo.png);
  background-position: top;
  background-size: cover;
  font-size: 20px;
  text-align: center;
}
.title {
  font-family: 'Cinzel', serif;
  font-size: 40px;
  padding: 30px 0;
  color:#F27405;
}
.title:hover
{
  color:#222326;
  text-decoration: underline;
  transition: all .05s;
  font-style: oblique;
  font-family: Calistoga;
}
/* ESTILOS DE SECCION NOSOTROS */
.card-people {
  border: 1px solid red;
  flex: 1 1 25%;
  margin: 10px;
  padding: 20px;
}
.card-people:nth-of-type(2n) {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.card-people:hover {
  transform: scale(1.2);
  transition: 1s ease-in-out;
}
.img-container {
  width: 500px;
}
.paragraph {
  font-size: 1.2rem;
}
.paragraph-prensa p
{
  color:#F27405;
  font-style: oblique;
}
.img-prensa {
  height: 400px;
  width: 100px;
}
.fotosslider {
  width: 100%;
  height: 500px;
}
.eventos {
  width: 350px;
  height: 350px;
  margin-left: 80px;
}
.eventos1 {
  width: 350px;
  height: 350px;
  margin-left: 400px;
}
/* ESTILOS DE LA SECCION DE PRENSA */
.img-prensa,
.paragraph-prensa {
  flex: 1 1 50%;
}
.paragraph-prensa {
  font-size: 1.2rem;
}
.button {
  color: white;
  background-color: dodgerblue;
  border-color: dodgerblue;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 10px;
}
.button:hover {
  background-color: forestgreen;
  border-color: forestgreen;
}
.background {
  background-color: black;
  color: white;
}
